MVCWFE/Connected Services/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="customerList">
        <s:complexType />
      </s:element>
      <s:element name="customerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerListResult" type="tns:ArrayOfCustomer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomer1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer1" nillable="true" type="tns:Customer1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Orders" type="tns:ArrayOfOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipRegion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="tns:ArrayOfOrderDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer1" />
          <s:element minOccurs="0" maxOccurs="1" name="Orders1" type="tns:Order" />
          <s:element minOccurs="0" maxOccurs="1" name="Order1" type="tns:Order" />
          <s:element minOccurs="0" maxOccurs="1" name="Orders11" type="tns:Order" />
          <s:element minOccurs="0" maxOccurs="1" name="Order2" type="tns:Order" />
          <s:element minOccurs="0" maxOccurs="1" name="Orders12" type="tns:Order" />
          <s:element minOccurs="0" maxOccurs="1" name="Order3" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetails" nillable="true" type="tns:OrderDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProducts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Products">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityPerUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsInStock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsOnOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReorderLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discontinued" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CustomerDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerDetailResult" type="tns:ArrayOfCustomer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createCustomerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditViewResult" type="tns:Customer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="Next">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NextResult" type="tns:ArrayOfCustomer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="First">
        <s:complexType />
      </s:element>
      <s:element name="FirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstResult" type="tns:ArrayOfCustomer1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderDetailsResult" type="tns:ArrayOfOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderAgainstCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:Order" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderAgainstCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddingToOrderDetails">
        <s:complexType />
      </s:element>
      <s:element name="AddingToOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddingToOrderDetailsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderDetails" type="tns:Products" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postOrderDetailsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="customerListSoapIn">
    <wsdl:part name="parameters" element="tns:customerList" />
  </wsdl:message>
  <wsdl:message name="customerListSoapOut">
    <wsdl:part name="parameters" element="tns:customerListResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerDetailSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerDetail" />
  </wsdl:message>
  <wsdl:message name="CustomerDetailSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="createCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:createCustomer" />
  </wsdl:message>
  <wsdl:message name="createCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:createCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="EditViewSoapIn">
    <wsdl:part name="parameters" element="tns:EditView" />
  </wsdl:message>
  <wsdl:message name="EditViewSoapOut">
    <wsdl:part name="parameters" element="tns:EditViewResponse" />
  </wsdl:message>
  <wsdl:message name="EditSoapIn">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="EditSoapOut">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="NextSoapIn">
    <wsdl:part name="parameters" element="tns:Next" />
  </wsdl:message>
  <wsdl:message name="NextSoapOut">
    <wsdl:part name="parameters" element="tns:NextResponse" />
  </wsdl:message>
  <wsdl:message name="FirstSoapIn">
    <wsdl:part name="parameters" element="tns:First" />
  </wsdl:message>
  <wsdl:message name="FirstSoapOut">
    <wsdl:part name="parameters" element="tns:FirstResponse" />
  </wsdl:message>
  <wsdl:message name="OrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:OrderDetails" />
  </wsdl:message>
  <wsdl:message name="OrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:OrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="OrderAgainstCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:OrderAgainstCustomer" />
  </wsdl:message>
  <wsdl:message name="OrderAgainstCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:OrderAgainstCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="AddingToOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddingToOrderDetails" />
  </wsdl:message>
  <wsdl:message name="AddingToOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddingToOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="postOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:postOrderDetails" />
  </wsdl:message>
  <wsdl:message name="postOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:postOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="customerList">
      <wsdl:input message="tns:customerListSoapIn" />
      <wsdl:output message="tns:customerListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerDetail">
      <wsdl:input message="tns:CustomerDetailSoapIn" />
      <wsdl:output message="tns:CustomerDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <wsdl:input message="tns:createCustomerSoapIn" />
      <wsdl:output message="tns:createCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditView">
      <wsdl:input message="tns:EditViewSoapIn" />
      <wsdl:output message="tns:EditViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input message="tns:EditSoapIn" />
      <wsdl:output message="tns:EditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Next">
      <wsdl:input message="tns:NextSoapIn" />
      <wsdl:output message="tns:NextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="First">
      <wsdl:input message="tns:FirstSoapIn" />
      <wsdl:output message="tns:FirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderDetails">
      <wsdl:input message="tns:OrderDetailsSoapIn" />
      <wsdl:output message="tns:OrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderAgainstCustomer">
      <wsdl:input message="tns:OrderAgainstCustomerSoapIn" />
      <wsdl:output message="tns:OrderAgainstCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddingToOrderDetails">
      <wsdl:input message="tns:AddingToOrderDetailsSoapIn" />
      <wsdl:output message="tns:AddingToOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postOrderDetails">
      <wsdl:input message="tns:postOrderDetailsSoapIn" />
      <wsdl:output message="tns:postOrderDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="customerList">
      <soap:operation soapAction="http://tempuri.org/customerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDetail">
      <soap:operation soapAction="http://tempuri.org/CustomerDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <soap:operation soapAction="http://tempuri.org/createCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditView">
      <soap:operation soapAction="http://tempuri.org/EditView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Next">
      <soap:operation soapAction="http://tempuri.org/Next" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="First">
      <soap:operation soapAction="http://tempuri.org/First" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDetails">
      <soap:operation soapAction="http://tempuri.org/OrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderAgainstCustomer">
      <soap:operation soapAction="http://tempuri.org/OrderAgainstCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddingToOrderDetails">
      <soap:operation soapAction="http://tempuri.org/AddingToOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOrderDetails">
      <soap:operation soapAction="http://tempuri.org/postOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="customerList">
      <soap12:operation soapAction="http://tempuri.org/customerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDetail">
      <soap12:operation soapAction="http://tempuri.org/CustomerDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <soap12:operation soapAction="http://tempuri.org/createCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditView">
      <soap12:operation soapAction="http://tempuri.org/EditView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Next">
      <soap12:operation soapAction="http://tempuri.org/Next" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="First">
      <soap12:operation soapAction="http://tempuri.org/First" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDetails">
      <soap12:operation soapAction="http://tempuri.org/OrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderAgainstCustomer">
      <soap12:operation soapAction="http://tempuri.org/OrderAgainstCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddingToOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/AddingToOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/postOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44366/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44366/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>